<input type="checkbox" id="theme-switch" class="toggle-theme-btn"></input>

<script type="text/javascript">
//determines if the user has a set theme
function detectColorScheme(){
    let theme="light";    //default to light

    //local storage is used to override OS theme settings
    if(sessionStorage.getItem("theme")){
        if(sessionStorage.getItem("theme") == "dark"){
            theme = "dark";
        }
    } else if(!window.matchMedia) {
        //matchMedia method not supported
        return false;
    } else if(window.matchMedia("(prefers-color-scheme: dark)").matches) {
        //OS theme setting detected as dark
        theme = "dark";
    }

    //dark theme preferred, set document with a `data-theme` attribute
    if (theme=="dark") {
         document.documentElement.setAttribute("data-theme", "dark");
    }
}
detectColorScheme();

const toggleSwitch = document.querySelector('input#theme-switch[type="checkbox"]');

//function that changes the theme, and sets a localStorage variable to track the theme between page loads
function switchTheme(e) {
    if (e.target.checked) {
        sessionStorage.setItem('theme', 'dark');
        document.documentElement.setAttribute('data-theme', 'dark');
        toggleSwitch.checked = true;
    } else {
        sessionStorage.setItem('theme', 'light');
        document.documentElement.setAttribute('data-theme', 'light');
        toggleSwitch.checked = false;
    }
}

//listener for changing themes
toggleSwitch.addEventListener('change', switchTheme, false);

//pre-check the dark-theme checkbox if dark-theme is set
if (document.documentElement.getAttribute("data-theme") == "dark"){
    toggleSwitch.checked = true;
}


let previousScrollProps = window.pageYOffset;
function handleScroll(ev) {
    let currentScrollProps = window.pageYOffset;
    if (currentScrollProps <= previousScrollProps) {
        document.getElementById("theme-switch").style.transform = "";
    } else {
        document.getElementById("theme-switch").style.transform = "translate(18vw, 0vw)";
    }
    previousScrollProps = currentScrollProps > 0 ? currentScrollProps : previousScrollProps;
    setTimeout(() => {}, 1000);
}
window.addEventListener("scroll", handleScroll);
window.addEventListener("touchmove", handleScroll);

</script>

<style type="text/css">
  .toggle-theme-btn {
    position: fixed;
    inset-inline-start: calc(100vw - 13vw - 5vw);
    inset-block-start: 85vh;
    width: 13vw;
    height: 13vw;
    /* background-color: white; */
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    opacity: 1.0;
    background-color: lightgray;
    background-image: url("/assets/sun.svg");
    background-position: 50%;
    background-size: 75%;
    background-repeat: no-repeat;
    filter: invert(.2);
    z-index: 100;

    transition: transform 0.3s;
  }
  .toggle-theme-btn:checked {
    filter: invert(1);
}

</style>
