<input type="checkbox" id="theme-switch" class="toggle-theme-btn"></input>

<script type="text/javascript">
    //determines if the user has a set theme
    function detectColorScheme() {
        //local storage is used to override OS theme settings
        const storedTheme = localStorage.getItem("theme");

        // If theme is already stored, use that. Otherwise, try to use
        // a media query. If matchMedia is not supported, default to light.
        const theme = storedTheme ?? (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)") ? "dark" : "light");
        document.documentElement.setAttribute("data-theme", theme);
    }
    detectColorScheme();

    const toggleSwitch = document.querySelector('input#theme-switch[type="checkbox"]');

    //function that changes the theme, and sets a localStorage variable to track the theme between page loads
    function switchTheme(e) {
        if (e.target.checked) {
            localStorage.setItem('theme', 'dark');
            document.documentElement.setAttribute('data-theme', 'dark');
            toggleSwitch.checked = true;
        } else {
            localStorage.setItem('theme', 'light');
            document.documentElement.setAttribute('data-theme', 'light');
            toggleSwitch.checked = false;
        }
    }

    // listener for changing themes
    toggleSwitch.addEventListener('change', switchTheme);

    // pre-check the dark-theme checkbox if dark-theme is set
    if (document.documentElement.getAttribute("data-theme") === "dark") {
        toggleSwitch.checked = true;
    }


    let previousScrollProps = window.pageYOffset;
    let enableScrollEvent = true;
    function handleScroll(ev) {
        if (!enableScrollEvent) return;

        let targetElem = document.getElementById("theme-switch");
        let currentScrollProps = window.pageYOffset;
        if (previousScrollProps - currentScrollProps >= 10) {
            targetElem.style.transform = "";
        } else if (currentScrollProps > previousScrollProps) {
            targetElem.style.transform ||= "translate(20vw, 0vw)";
        }
        previousScrollProps = currentScrollProps > 0 ? currentScrollProps : previousScrollProps;
        enableScrollEvent = false;
        setTimeout(() => { enableScrollEvent = true }, 100);
    }
    window.addEventListener("scroll", handleScroll);
    window.addEventListener("touchmove", handleScroll);
</script>